@include b(button) {
    height: rem-calc(60);
    padding: rem-calc(0 10);
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: rem-calc(1.53);
    font-size: rem-calc(17);
    border: rem-calc(3) solid transparent;
    margin-bottom: 0;
    
    &:hover, &:focus, &:active {
        background-color: $hoverGreen;
    }
    
    @include m(hollow) {
        background-color: transparent;
        border-color: $secondary;
        color: $primary;
        
        &:hover, &:focus, &:active {
            color: $white;
            background-color: $primary;
            border-color: $primary;
            
            background-color: $hoverGreen;
            border-color: $hoverGreen;
        }
    }
    
    @include m(stepNav) {
        width: rem-calc(210);
        font-family: $body-font;
    }
    
    
    @include m(offCanvasToggle) {
        position: relative;
        z-index: 50;
        
        svg {
            // position: absolute;
        }
        
        .svg--close {
            opacity: 0;
        }
        
        &[aria-expanded="true"] {
            
            .svg--close {
                opacity: 1;
            }
            
            .svg--open {
                opacity: 0;
            }
        }
    }
}


@include b(button-group) {
    margin-top: rem-calc(90);
}