@include b(reveal) {
    background-color: transparent;
    max-width: 90vw;
    max-height: 90vh;
    width: 90%;

    @include breakpoint(medium-large) {
        width: auto;
    }

    @include e(inner) {
        box-shadow: rem-calc(0 8 20) rgba($black, 0.2);
        border-radius: rem-calc(20);
        margin: 0 auto;
        width: 100%;
        padding: rem-calc(20 20);

        @include breakpoint(medium-large) {
            width: rem-calc(950);
            padding: rem-calc(55 70);
            max-height: 90vh;
        }
    }

    @include e(closeWrapper) {
        top: rem-calc(0);
        right: rem-calc(-45);
        transform: translate(100%, 100%);
    }

    @include m(disclosureModal) {
        overflow: hidden;

        @include e(scrollable) {
            max-height: 80vh;
        }

        li {
            font-size: rem-calc(20);
            font-family: $book-font;
            weight: 300;
            margin-bottom: rem-calc(14);

            &:first-child {
                margin-top: rem-calc(14);
            }
        }
    }
}
